*.iml
.idea
.DS_Store
node_modules
bundle
.bundle-garbage-a9kgis.g3hnv
.bundle-garbage-8300pd.51jdd
.bundle-garbage-1qdutjm.iq1a
.build672766.bundle
.bundle-garbage-1t4nv8u.a6sl
.bundle-garbage-b8zu8w.aajef
settings.production.json
